:host {
    display: contents;
}

.active-player-container {
    text-align: center;
    padding: 15px 20px;
    background: var(--secondary-color);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid var(--tertiary-color);

    >div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .score {
        font-size: 16px;
        font-weight: 600;
    }
}

.dice-container {
    display: grid;
    grid-template-columns: 56px 56px 56px 56px 56px 56px;
    gap: 10px;
    padding: 20px;
    background: var(--secondary-color);
    border-radius: 10px;

    &.selected-dice {
        background: transparent;
        outline: 2px solid var(--secondary-color);
        outline-offset: -2px;
    }
}

.dice-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dice-placeholder {
    height: 56px;
    width: 56px;
}

@media (max-width: 768px) {
    .dice-container {
        display: grid;
        grid-template-columns: 56px 56px 56px;
        justify-content: center;
    }
}