:host {
    display: contents;
}

.game-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: stretch;
}

.lobby-wrapper {
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-width: 350px;

    &.showPlayerList {
        border-radius: 10px 0px 0px 10px
    }
}

.headline {
    font-family: var(--font-germania);
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 20px;
}

.lobby-info-wrapper {
    display: flex;
    flex-direction: column;
}