:host {
    display: contents;
}

.game-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    width: 100%;
    padding: 10px;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;

    &.scoreboard {
        flex-direction: column;
    }
}

.lobby-wrapper {
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-width: 350px;

    &.showPlayerList {
        border-radius: 10px 0px 0px 10px
    }

    .scoreboard & {
        border-radius: 10px 10px 0px 0px;
    }
}

.headline {
    font-family: var(--font-germania);
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 20px;
}

.lobby-info-wrapper {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }

    .lobby-wrapper {
        width: 100%;
        min-width: 0;

        &.showPlayerList {
            border-radius: 10px 10px 0px 0px;
        }
    }
}