:host {
    display: contents;
}

.player-list {
    border: 2px solid var(--tertiary-color);
    border-left: 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.player-name {
    font-size: 16px;
}

.lobby-text {
    font-size: 14px;
}

.player-row {
    display: flex;
    gap: 5px;
    align-items: center;
}

.player-active {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid var(--color-light);

    &.active {
        background-color: var(--secondary-color);
    }

    &.inactive {
        background-color: var(--red);
    }
}