<div class="create-lobby-wrapper">
    <div class="button-wrapper">
        <div class="selection-bg" [ngClass]="selection()"></div>
        <button class="select-button" (click)="selection.set('create')">Lobby erstellen</button>
        <button class="select-button" (click)="selection.set('join')">Lobby beitreten</button>
    </div>

    @if(selection() == "create") {
    <div class="input-wrapper">
        <label class="input-label">Lobbyname</label>
        <input class="input-field" type="text" placeholder="Lobbyname" [(ngModel)]="lobbyName" />
    </div>
    } @else {
    <div class="input-wrapper">
        <label class="input-label">Lobby-Id</label>
        <input class="input-field" type="text" placeholder="Lobby-Id" [(ngModel)]="lobbyId" />
    </div>
    }

    <div class="input-wrapper">
        <label class="input-label">Username</label>
        <input class="input-field" type="text" placeholder="Username" [(ngModel)]="username" />
    </div>
    <div class="input-wrapper">
        <label class="input-label">Passwort</label>
        <input class="input-field" type="password" placeholder="Passwort" [(ngModel)]="password" />
    </div>

    @if(error()) {
    <div class="error">Bitte fülle alle Felder aus.</div>
    }

    @if(selection() == "create") {
    <button class="btn" (click)="createLobby()">Erstellen</button>
    } @else {
    <button class="btn" (click)="joinLobby()">Beitreten</button>
    }
</div>