:host {
    display: contents;
}

.hint-container {
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px 0 10px;
    font-weight: 600;
    text-align: center;
}