:host {
    display: contents;

    h3 {
        margin: 0 0 5px;
        text-align: center;
    }
}

.lobby-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.lobby-wrapper {
    border: 2px solid var(--tertiary-color);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-width: 350px;
}

.headline {
    font-family: var(--font-germania);
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 20px;
}

.lobby-info-wrapper {
    display: flex;
    flex-direction: column;

    .lobby-infos {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }
}

.lobby-text {
    font-size: 14px;
}

.player-list {
    border: 2px solid var(--tertiary-color);
    border-left: 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.player-names {
    font-weight: 600;
    font-size: 16px;
}

.container {
    display: flex;
    align-items: stretch;
}