:host {
    display: contents;

    h3 {
        margin: 0 0 5px;
        text-align: center;
    }
}

.lobby-info-wrapper {
    display: flex;
    flex-direction: column;

    .lobby-infos {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }
}

.lobby-text {
    font-size: 14px;
}