<!-- <section class="lobby-container">
    <div class="container">
        <div class="lobby-wrapper">
            <div class="headline">Farkle</div>
            <div class="lobby-info-wrapper">
                <h3>Lobby</h3>
                <div class="lobby-infos">
                    <div class="lobby-text">
                        <div>Id:</div>
                        <b>{{ lobbyService.activeLobby()?.lobbyId }}</b>
                    </div>
                    <div class="lobby-text">
                        <div>Name:</div>
                        <b>{{ lobbyService.activeLobby()?.lobbyName }}</b>
                    </div>
                </div>
            </div>
            <button class="btn" (click)="startGame()">Spiel starten</button>
        </div>
        <app-player-list></app-player-list>
    </div>
</section> -->

<app-game-container [showPlayerList]="true">
    <div class="lobby-info-wrapper">
        <h3>Lobby</h3>
        <div class="lobby-infos">
            <div class="lobby-text">
                <div>Id:</div>
                <b>{{ lobbyService.activeLobby()?.lobbyId }}</b>
            </div>
            <div class="lobby-text">
                <div>Name:</div>
                <b>{{ lobbyService.activeLobby()?.lobbyName }}</b>
            </div>
        </div>
    </div>
    <button class="btn" (click)="startGame()">Spiel starten</button>
</app-game-container>