<app-game-container [showPlayerList]="true">
    <div class="lobby-info-wrapper">
        <h3>Lobby</h3>
        <div class="lobby-infos">
            <div class="lobby-text">
                <div>Id:</div>
                <b>{{ lobbyService.activeLobby()?.lobbyId }}</b>
            </div>
            <div class="lobby-text">
                <div>Name:</div>
                <b>{{ lobbyService.activeLobby()?.lobbyName }}</b>
            </div>
        </div>
    </div>

    <div class="input-wrapper">
        <label class="input-label">Punkte zum Sieg</label>
        <input class="input-field" type="number" placeholder="Punkte zum Sieg" [(ngModel)]="maxPoints" />
    </div>

    <button class="btn" (click)="startGame()">Spiel starten</button>
</app-game-container>