:root {
    --primary-color: #2C3930;
    --secondary-color: #3F4F44;
    --tertiary-color: #A27B5C;
    --tertiary-color-light: #c0926d;
    --color-light: #DCD7C9;

    --red: #9f3737;

    --font-germania: "Germania One", system-ui;

    --sb-size: 10px;
}

html,
body {
    margin: 0;
    height: auto;
    min-height: 100%;
    background-color: var(--primary-color);
    color: var(--color-light);
    font-family: "Red Hat Display", sans-serif;
}

html,
body {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--secondary-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--tertiary-color);
        border-radius: 10px;
    }
}

html {
    scrollbar-color: var(--tertiary-color) var(--secondary-color);
}

* {
    box-sizing: border-box;
}

.btn {
    margin-top: 20px;
    color: inherit;
    background: var(--tertiary-color);
    border: 0;
    font-family: "Germania One";
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    position: relative;

    &:hover {
        cursor: pointer;
        background: var(--tertiary-color-light);
    }

    &[disabled] {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-label {
    font-size: 12px;
    font-weight: 100;
}

.input-field {
    font-family: inherit;
    padding: 8px 5px;
    border-radius: 5px;
    border: 0;
    background: var(--color-light);
    font-size: 14px;

    &:focus-visible {
        outline: 2px solid var(--tertiary-color);
    }
}